html {
    background-color: black;
    display: flex;
    justify-content: center;
}

body {
    margin: 0;
    width: 850px;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
}

.header {
    background-color: #1f2937;
    color: white;
}

.header-inner {
    padding: 24px 48px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.header-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    padding: 48px 0;
    min-width: 0;
}

.header-text {
    display: flex;
    flex: 1;
    min-width: 0;
    flex-direction: column;
    gap: 12px;
}

.header-img {
    height: 200px;
    width: 300px;
    margin: 0;
    padding: 0;
    background-color: gray;
    border-radius: 2px;
    display: flex;
    flex-shrink: 0;
}

button {
    width: 80px;
    height: 20px;
    border-radius: 5px;
    border-style: none;
    background-color: #3382f6;
    color: white;
}

.content-section {
    background-color: #f2faf8;
    color: black;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.content-section h2 {
    text-align: center;
    margin: 0 0 18px 0;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
}

.info {
    margin: 0;
    padding: 0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    gap: 12px;
}

.card-img {
    width: 100px;
    height: 100px;
    border: 2px solid #3882f6;
    border-radius: 8px;
}

.card p {
    text-align: center;
    font-size: 14px;
    margin: 0;
}

.quote-section {
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 60px 150px;
    
}

.quote-text {
    font-style: italic;
    font-size: 22px;
    margin: 0;
}

.quote-author {
    text-align: right;
    margin-top: 16px;
    font-weight: bold;
}